@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002f34;
  padding: 10px;
  height: 70px;
  color: #ffff;

}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo h1{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  font-style: italic;
}
.links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  font-size: 16px;
}
.links a{
  text-decoration: none;
}
.btn{
  display: flex;
  align-items: center;
  gap: 20px;
}
.login{
  padding: 5px;
  width: 60px;
  border: none;
  outline: none;
  border-radius:5px;
}
.sign_up {
   padding: 5px;
  width: 100px;
  border: none;
  outline: none;
  border-radius:5px;
}
.carousel img{
    margin-top: 100px;
    height: 100%;
  }
  .carousel{
  z-index: -1;

}
.porduct_name{
  margin-top: 40px;
}
.prouduct_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
 box-shadow: 0 16px 20px rgba(20, 8, 10, 0.1);  
  border-radius: 10px;   /* thoda round look */
  transition: all 0.3s ease-in-out; /* hover ke liye smooth */

}
.card{
  z-index: -1;
  width: 260px;

  display: flex;
  font-size: 12px;
align-items: center;
}
.card img{
  width: 150px;
  height: 150px;
  margin: 10px auto;  
  object-fit: contain;
}
 .card-text{
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* kitni line show karni hai */
  -webkit-box-orient: vertical;
  overflow: hidden;   
} 
.card_text_second{
    display: -webkit-box;
  -webkit-line-clamp: 1;   /* kitni line show karni hai */
  -webkit-box-orient: vertical;
  overflow: hidden; 
}
.cards_btn{
  display: flex;
 justify-content: space-between;
  cursor: pointer;
}
.rating_count{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.card img:hover{
transition: 5 ease-in-out;
}



.footer {
    background-color: #f0f2f2;
    margin-top: 40px;
    height: 400px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 30px 0px;
  
  }
  
  .footer-column {
    flex: 1;
    min-width: 180px;
    margin: 10px;
  }
  
  .footer-column h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #002f34;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li a {
    color: #002f34;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons a {
    margin-right: 5px;
    padding: 4px 7px;
    font-size: 18px;
    color: #002f34;
  }
  .app-links{
display: flex;
gap: 5px;
margin-top: 20px;
  }
  .app-links img {
    width: 80px;
  }
.bottom{
  background-color: #002f34;
  height: 60px;
  text-align: right;
color: #ebf1ff;
}
.copy{
  display: flex;
  padding: 10px 20px;
  align-items: baseline;
  text-align: right;
}